---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">About</Fragment>
      <Fragment slot="desc">FAQs.</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        contact: iamamrit27@gmail.com
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        <strong>What is it?</strong> <br> A deepfake model that does what you wish it to swap it with.<br>
        <strong>How does it work?</strong> <br> Based on finetuned open source models trained already, developed using pytorch<br>
        <strong>What are the use cases?</strong> <br> You can swap any face with anything, in a photo. Videos coming soon.<br>
        <strong>What are the limitations?</strong> <br> Cannot do much on blurry photographs.<br>
        <strong>How much does it cost?</strong> <br> Starts at $7. Email me for a custom price/discount.<br>
        <strong>What refunds are eligible?</strong> <br> Once a quality post has been delivered, no refunds are possible. <br> If quality post based on the image you sent is NOT POSSIBLE, I'll refund it asap.<br>
        <strong>How willing are you to serve customers?</strong> <br> Alot. <br>I'm willing to go the extra mile to make sure you get what you want. <br> If not satisfactory by a mile, I'll get you variations. For free.<br>
      </p>
    </div>
  </Container>
</Layout>
