---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">About</Fragment>
      <Fragment slot="desc">FAQs.</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        contact: iamamrit27@gmail.com
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        What is it? A deepfake model that does what you wish it to swap it with.<br>
        How does it work? Based on finetuned open source models trained already, developed using pytorch<br>
        What are the use cases? You can swap any face with anything, in a photo. Videos coming soon.<br>
        What are the limitations? Cannot do much on blurry photographs.<br>
        How much does it cost? Starts at $7. Email me for a custom price/discount.<br>
        What refunds are eligible? Once a quality post has been delivered, no refunds are possible. If quality post based on the image you sent is NOT possible, I'll refund it asap.<br>
        How willing are you to serve customers? Alot. I'm willing to go the extra mile to make sure you get what you want. If not satisfactory by a mile, I'll get you variations. For free.<br>
      </p>
    </div>
  </Container>
</Layout>
