<body class="bg-gray-900 min-h-screen flex flex-col items-center justify-center font-mono">
  <a href="/" class="text-lg">
    <span class="font-bold text-white">Face</span><span class="text-slate-500">swap</span>
  </a>
  <div class="w-full max-w-screen-lg rounded-lg overflow-hidden shadow-xl">
    <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
    <stripe-pricing-table pricing-table-id="prctbl_1OwI2ZSGg1fuLjaUKdgNq2Bh" publishable-key="pk_live_51OurjISGg1fuLjaUtZyIH3eTKawRIPrHKhAy6tVJ2XxZ7FAR3olnx8p0Ao7cz6bq7G9lrETH6mAWZ2JC0Nc6LhW300g2aH42uh"></stripe-pricing-table>
  </div>
</body>