---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Face Swapper",
    description:
      "Build your site using React, Svelte, Vue, Preact, web components, or just plain ol' HTML + JavaScript.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Face Enhancer",
    description:
      "Astro renders your entire page to static HTML, removing all JavaScript from your final build by default.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Just 2 files",
    description:
      "One target file to map your source file to.",
    icon: "bx:bxs-data",
  },
  {
    title: "Skip GPUs locally.",
    description:
      "We take the pain so you don't need to.",
    icon: "bx:bxs-bot",
  },
  {
    title: "One image needed. That's it.",
    description:
      "Wait but AI models are trained on tonnes of data right? Yours does not need to be :)",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Privacy.",
    description:
      "No data is stored post delivery.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    One time payment. For photos. For videos. 
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    100% refund if the model generated content from my side is not good. You don't even need to ask for it.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
