<footer class="my-20">

  <!--
    Can we ask you a favor ðŸ™
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
  <p class="text-center text-sm text-slate-500 mt-1">
    Made with love, by<a
      href="https://twitter.com/amritwt"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      <strong>amritwt!</strong>
    </a>
  </p>
  <p class="text-center text-xs text-slate-500">
    Copyright Â© {new Date().getFullYear()} Made with Astro.
  </p>
  <div class="text-center text-xs text-slate-500 flex justify-center">
    <a href="mailto:iamamrit27@gmail.com" target="_blank" rel="noopener" class="hover:underline mr-1">
      <strong>support</strong>
    </a>
    <a href="/tos" target="_blank" rel="noopener" class="hover:underline ml-1">
      <strong>terms of service</strong>
    </a>
    <a href="/pp" target="_blank" rel="noopener" class="hover:underline ml-1">
      <strong>privacy policy</strong>
    </a>
  </div>
</footer>